body {
	
  background-color:#80ffbf; 
	width:100%;
     }
.img1{ width:20%;  
  
  margin-left: 40%;
  margin-right: 40%;
  border-radius:50%
  
}
.container-lg{
	max-width:100% !important;
}

h1 {
	 background-color:yellow;
	 margin-left:30%;
	  margin-right:30%;
     color:black;
    text-align: center;
}
h2 {
	 background-color:#18e9f0;
	 margin-left:30%;
	  margin-right:30%;
     color:black;
    text-align: center;
}

p {
   text-align:left;
  font-size: 20px;
  color:black;
  
 
}
 * {
  box-sizing: border-box;
}

		 .div2 {
			 
  float: left;
  width: 50%;
  padding: 15px 15px;
  min-height: 860px;
 
  background-color:red;
} 

.button {
	color: white;
	text-align: center;
	font-size:20px;
	padding:10px 55px;
	margin:  15px 230px;
 
	background-color:#ed2f2f;
    border: none;
	border-radius:18px;
	 
}

.button:hover {
  background-color: #4CAF50;
}
  
  
  
  
  
  
 

 
  
 
